src/              # Exclude source code
webpack.*.js      # Exclude Webpack configs
node_modules/     # Exclude dependencies
package-lock.json # Exclude lock file

# dev config files
.prettierrc        # Formatting configuration
.eslintrc.json     # Linting configuration